*{
	box-sizing: border-box;
}

body{
	background: #686868;
	margin: 0;
	padding: 0;
	font-family: helvetica, arial;
}
ul.navegacion{
	padding: 20px;
	background: #ACACAC;
	margin: 5% auto;
	width: 90%;
	border: 1px solid #fff;
	list-style-type: none;

}
ul.navegacion li {
	margin: 10px;
	border: 1px solid #fff;
	background: #c9830a;
}

ul.navegacion li a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
}
/*Estilos de flex box*/
ul.navegacion{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap; /* los elementos no se salen de su contenedor*/
}

ul.contenedor{
	padding: 20px;
	background: #ACACAC;
	margin: 5% auto;
	width: 90%;
	border: 1px solid #fff;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}
div.columna1 {
	margin: 10px;
	border: 1px solid #fff;
	background: #c9830a;
}

div.columna2 {
	margin: 10px;
	border: 1px solid #fff;
	background: #c9830a;
}
div.columna3 {
	margin: 10px;
	border: 1px solid #fff;
	background: #c9830a;
}
div.columna1 p {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}	
div.columna2 p {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
div.columna3 p {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
div.image-container {
    flex: 0 1 25%;
    height: 200px;
}
div img {
    max-width: 100%;
    max-height: 100%;
}
